########################################
# https://git-scm.com/docs/gitmailmap
# https://www.mantisbt.org/wiki/doku.php/mantisbt:mailmap
# https://github.com/git/git/blob/master/.mailmap
########################################
