= link_to(raw(label), url, @args.merge({ class: 'text-gray-400 hover:text-gray-600 block px-4 py-2 text-sm capitalize w-full group flex items-center font-medium', role: 'menuitem', tabindex: '-1', rel: 'nofollow noindex' }))
